@{
    ViewBag.Title = "Tieto application by FDP";
}

<div class="row">
    <div id="responsive-column-1" class="col-sm-12 col-md-6">
        Responsive column 1
    </div>

    <div id="responsive-column-2" class="col-sm-12 col-md-6">
        Responsive column 2
    </div>

</div>